{% load static %}

@font-face {
	font-family: 'TimesNewRoman';
	src: url("{% static 'fonts/TimesNewRoman.ttf' %}");
}


body {
    font-family: TimesNewRoman, sans-serif;
	font-size: 25px;
}


th {
       font-family: TimesNewRoman;
       font-size: 30px;
   }