{% load static %}

@font-face {
	font-family: 'Times New Roman';
	src: url("{% static 'main/fonts/TimesNewRoman.ttf' %}") format("TrueType");
}


body {
    font-family: 'Times New Roman', sans-serif;
	font-size: 100px;
}

